In [1]:
import pandas as pd
import numpy as np

In [54]:
content=pd.read_csv("Content.csv")
reaction=pd.read_csv("Reactions.csv")
reaction_type=pd.read_csv("ReactionTypes.csv")

In [55]:
content.head(2)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...

In [56]:
reaction.head(2)

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50

In [57]:
reaction_type.head(2)

   Unnamed: 0   Type Sentiment  Score
0           0  heart  positive     60
1           1   want  positive     70

In [58]:
#dropping Un-necessary columns
content.drop(['Unnamed: 0','User ID','URL'],axis=1,inplace=True)
reaction.drop(['Unnamed: 0','User ID'],axis=1,inplace=True)

In [59]:
content.head(2)

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating

In [60]:
reaction.head(2)

                             Content ID     Type             Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  2021-04-22 15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2020-11-07 09:43:50

In [61]:
reaction_type.head(2)

   Unnamed: 0   Type Sentiment  Score
0           0  heart  positive     60
1           1   want  positive     70

In [62]:
reaction_type=reaction_type.drop('Unnamed: 0', axis=1)

In [64]:
reaction_type.head(2)

    Type Sentiment  Score
0  heart  positive     60
1   want  positive     70

In [69]:
content.head(2)

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating

In [67]:
reaction.head(2)

                             Content ID     Type             Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  2021-04-22 15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2020-11-07 09:43:50

In [68]:
reaction_type.head(2)

    Type Sentiment  Score
0  heart  positive     60
1   want  positive     70

In [71]:
df = content.merge(reaction, how='left', on='Content ID')

In [72]:
df.head(2)

,Content ID,Type_x,Category,Type_y,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50

In [73]:
df = df.rename(columns={'Type_x':'Cont_Type','Type_y':'Type'})

In [74]:
df = df.merge(reaction_type, how='left', on='Type')

In [75]:
df = df.rename(columns={'Type':'React_Type'})

In [76]:
df.head(2)

,Content ID,Cont_Type,Category,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,NaN,2021-04-22 15:17:15,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0.0

In [77]:
#checking info of df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25573 entries, 0 to 25572
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25573 non-null  object
 1   Cont_Type   25573 non-null  object
 2   Category    25573 non-null  object
 3   React_Type  24573 non-null  object
 4   Datetime    25553 non-null  object
 5   Sentiment   24573 non-null  object
 6   Score       24573 non-null  float64
dtypes: float64(1), object(6)
memory usage: 1.6+ MB

In [78]:
#checking for null values
df.isnull().sum()

Content ID       0
Cont_Type        0
Category         0
React_Type    1000
Datetime        20
Sentiment     1000
Score         1000
dtype: int64

In [79]:
#dropping the null values
df.dropna(inplace=True)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25572
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   Cont_Type   24573 non-null  object
 2   Category    24573 non-null  object
 3   React_Type  24573 non-null  object
 4   Datetime    24573 non-null  object
 5   Sentiment   24573 non-null  object
 6   Score       24573 non-null  float64
dtypes: float64(1), object(6)
memory usage: 1.5+ MB

In [82]:
df.isnull().sum()

Content ID    0
Cont_Type     0
Category      0
React_Type    0
Datetime      0
Sentiment     0
Score         0
dtype: int64

In [83]:
df.head(2)

,Content ID,Cont_Type,Category,React_Type,Datetime,Sentiment,Score
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2021-06-17 12:22:51,negative,10.0

In [84]:
#checking for unique category
df['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', 'Culture', '"food"', 'Food',
       '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [85]:
#replacing some categories
df['Category'] = df['Category'].replace('"', '', regex = True)
df['Category']= df['Category'].str.lower()

In [86]:
df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [87]:
df.to_csv('cleaned_data.csv', index = False)

In [90]:
df.groupby('Category').agg({"React_Type" : "count"}).reset_index().sort_values(by='React_Type', ascending=False).head(5)

          Category  React_Type
0          animals        1897
9          science        1796
7   healthy eating        1717
6             food        1699
12      technology        1698

In [91]:
df.groupby('Category').agg({'Score': 'sum'}).reset_index().sort_values(by="Score", ascending=False).head()

          Category    Score
0          animals  74965.0
9          science  71168.0
7   healthy eating  69339.0
12      technology  68738.0
6             food  66676.0